.split {
  height: 90vh;
  position: fixed;
  z-index: 1;
  top: 10;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
}

.left {
  width: 30%;
  left: 0;
}

.right {
  width: 70%;
  right: 0;
}

.centered {
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.space-card {
  flex: 50%;
  padding: 2vh 2vw;
  box-sizing: border-box;
}

.holder {
  border: solid 10px;
  border-image: linear-gradient(45deg,green,lightgrey) 1;
  box-shadow: 2px 2px 10px;
}

.vertical-line {
  height: 89.8vh;
  position: absolute;
  margin: -0.1vh 0 0 30vw;
  border-left: 2px solid;
  color: lightgrey;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}


.btn {
  white-space: nowrap;
  padding: 0.3rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 400;
  width: auto;
  cursor: pointer;
  border: 2px solid green;
  background-color: rgba(211, 211, 211, 0.333);
}

.btn:hover {
  background-color: rgba(211, 211, 211);
}

.btn:disabled {
  background-color: rgba(211, 211, 211, 0);
  cursor: default;
}

.card-content {
  white-space: nowrap;
  padding: 1rem;
}

.card_title {
  white-space: nowrap;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  font-weight: 400;
}

.hidden {
  display: none;
}

.spacePlant {
  font-weight: 600;
  cursor: pointer;
  margin: 10px;
}

.spacePlant span {
  text-decoration: underline;
  color: darkgreen;
}

.spacePlant li {
  cursor: default;
  font-weight: 400;
}
