* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


/* Top Bar */

.header {
  user-select: none;
  width: 100%;
  height: 80px;
  display: block;
  text-align: center;
  background-color:rgb(243, 243, 243);
}

.inner-header {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.app-buttons {
  height: 100%;
  float: left;
}

.app-buttons a {
  height: 100%;
  display: table;
  float: right;
  padding: 0px 20px;
}

.app-buttons a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.app-buttons a li img {
  cursor: pointer;
}

.logo-container {
  height: 100%;
  display: inline-table;
  
}

.logo-container h1 {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  font-family: "abel";
  font-size: 60px;
  font-weight: 200;
}

.logo-container h1.green-logo {
  color: green;
}

.logo-container h1.red-logo {
  color: red;
}

.logo-container h1 span {
  font-weight: 800;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: green;
  font-family: "abel";
  font-size: 24px;
}

.navigation a li p {
  cursor: pointer;
}

hr.line {
  width: 100%;
  border: none;
  border-top: 2px solid;
  color: lightgrey
}


/*